*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}
nav ul li a{
    text-align: none;
    color: #333;
    font-weight: 400;
}
.login-btn{
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 400;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #4ca858, #0797bb);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}
.content{
    margin-top: 10%;
    max-width: 600px;
}
.content h1{
    font-size: 70px;
    color: #222;
}
.content h2{
    font-size: 45px;
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: 32.5%;

}
.content p{
    margin: 10px 0 30px;
    color: #070707;
}
.content .btn{
    padding: 15px 80px;
    font-size: 16px;
}
.btn:hover{
    border-top-right-radius: 30px;
}
.name h2{
    position: 100px 30px 30px;
    font-size: 70px;
    color: #222;
}
.flex-container {
    margin-top: 60px;
    /* Adjust margin to make space for the fixed buttons */
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-item{
    background-size: cover;
    margin: 8px;
    padding: 20px 20px;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    size-adjust: 30%;
    width: 185px;
    height: 185px;
    border-radius: 15px;
}
.btn:hover{
    border-top-right-radius: 30px;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
